# shortcuts
alias f='open .'
alias i='weechat'
alias v='vim'

# always start some applications in tmux
alias weechat='tmuxify weechat'
alias rtorrent='tmuxify rtorrent'

# network
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\([a-fA-F0-9:\.]\+\)' | awk '{sub(/inet6? (addr:)? ?/, \"\"); print}'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias p='ssh -p ${HOME_SERVER_PORT} ${HOME_SERVER_HOST}'
alias speedtest='wget --output-document=/dev/null http://speedtest.wdc01.softlayer.com/downloads/test500.zip'
alias scan-macs='sudo nmap -sU -p 161 -T4 -d -v -n -Pn --script snmp-interfaces'

# dev aliases
alias tf='terraform'
alias tg='terragrunt run-all --terragrunt-non-interactive'
alias kc='kubectl config current-context'
alias gctoken='tok=`gcloud auth print-access-token`; if command -v pbcopy >/dev/null; then echo "$tok" | tee /dev/tty | pbcopy; else echo $tok; fi'
alias docker-clean='sudo docker images -q -a | xargs --no-run-if-empty sudo docker rmi'
alias play-forward='ssh -vvv -N -g -L 9000:127.0.0.1:9000 vagrant@192.168.69.69'
alias gensslcert='openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout key.pem -out cert.pem'
alias pp-nlbr='pbpaste | sed -e $'\''s/\{lnbr\}/\\\n/g'\'' -e '\''s/\(^\|\n\) \+/\1    /g'\'''
alias rand-pwd='LC_ALL=C tr -cd a-zA-Z0-9 < /dev/urandom | fold -w 32 | head -n 1'

# osx aliases
alias fixspotlight='sudo mdutil -i off / && sudo mdutil -i on /'
alias fixfinder='defaults write com.apple.Finder AppleShowAllFiles YES'
alias fixlauncher='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -seed'
alias battery='ioreg -k LegacyBatteryInfo | grep LegacyBatteryInfo | sed '\''s/.*{\(.*\)}/\1/;s/,/=/g'\'' | awk -F= '\''{print 100*$8/$6}'\'' | xargs printf '\''%.2f'\'''
alias trash='rm -rv {~/.Trash,/Volumes/*/.Trashes}(N)'
alias sysupdate='brew update && brew upgrade && brew cleanup'

# kill all chrome tabs
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# lock screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# volume
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
