# shortcuts
alias f='open .'
alias i='weechat'
alias v='vim'

# always start some applications in tmux
alias weechat='tmuxify weechat'
alias rtorrent='tmuxify rtorrent'

# network
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\([a-fA-F0-9:\.]\+\)' | awk '{sub(/inet6? (addr:)? ?/, \"\"); print}'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# other useful aliases
alias p='ssh -p ${PPX_SERVER_PORT} ${PPX_SERVER_HOST}'
alias rand-pwd='LC_ALL=C tr -cd a-zA-Z0-9 < /dev/urandom | fold -w 32 | head -n 1'

# <3
alias scp-resume='rsync --partial --progress --rsh=ssh'

# oooh!
alias s42='cd ${S42_HOME}'
alias s42-gw='ssh-add && ssh -A ${S42_GW_UID}'

# dev aliases
alias play-forward='ssh -vvv -N -g -L 9000:127.0.0.1:9000 vagrant@192.168.69.69'
alias gensslcert='openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout key.pem -out cert.pem'
alias pp-nlbr='pbpaste | sed -e $'\''s/\{lnbr\}/\\\n/g'\'' -e '\''s/\(^\|\n\) \+/\1    /g'\'''

# old php aliases
alias start_helios='screen -dmSADRU helios VBoxHeadless --startvm helios &'
alias xdbg_tunnel='ssh -vvv -N -g -R 9000:127.0.0.1:9000 helios.local' # then http://url?XDEBUG_SESSION_START=perplexa
alias xphp='PHP_IDE_CONFIG="serverName=trunk.localhost" XDEBUG_CONFIG="idekey=XDEBUG_PHPSTORM" php'

# osx aliases
alias fixspotlight='sudo mdutil -i off / && sudo mdutil -i on /'
alias fixfinder='defaults write com.apple.Finder AppleShowAllFiles YES'
alias fixlauncher='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -seed'
alias battery='ioreg -k LegacyBatteryInfo | grep LegacyBatteryInfo | sed '\''s/.*{\(.*\)}/\1/;s/,/=/g'\'' | awk -F= '\''{print 100*$8/$6}'\'' | xargs printf '\''%.2f'\'''
alias trash='sudo srm -rvP {~/.Trash,/Volumes/*/.Trashes}(N)'

# kill all chrome tabs
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# lock screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# volume
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"

