[submodule ".zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/pack/syntax/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule ".vim/bundle/rainbow"]
	path = .vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".vim/bundle/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-json"]
	path = .vim/pack/syntax/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/pack/syntax/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".vim/bundle/gruvbox"]
	path = .vim/pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/pack/syntax/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/bundle/tabular"]
	path = .vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
